.main-page {
  .main-page-content {
    margin: auto;
    padding: 2%;
    .main-page-content-col {
      .title {
        cursor: pointer;
      }
      img {
        width: 100%;
      }
    }
    .news-list {
      // padding-top: 25px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .full-news-list {
        width: 70%;
        // background-color: black;
      }
      .business-news-list {
        background-color: #2f54eb;
        width: 25%;
        img {
          width: 40%;
        }
      }
    }
  }
}
